body {
    background: url("https://i.ytimg.com/vi/ui6N0jMIFyM/maxresdefault.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}